* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.main-container {
    background-color: blue;
    display: flex;
    flex: 1;
}

.header {
    background-color: red;
    height: 100px;
}

.sidebar {
    background-color: green;
    width: 300px;
}