* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.add-todo-button {
    background-color: pink;
    margin-left: auto;
}

.main-container {
    background-color: blue;
    display: flex;
    flex: 1;
}

.header {
    background-color: red;
    display: flex;
    height: 100px;
}

.sidebar {
    background-color: green;
    width: 300px;
}

.todo-list {
    background-color: orange;
    flex: 1;
    margin: 25px;
}